$neutralGrey1: #f5f5f5;
$neutralGrey2: #e6e6e6;
$neutralGrey3: #b4b4b4;
$neutralGrey4: #767676;
$neutralGrey5: #323232;
$primaryWhite: #ffffff;
$primaryBlack: #000000;
$primaryRed: #ec0000;
$primaryBlue: #004699;

$onderzoek: #ec0000;
$voorbereiding: #ff9100;
$uitvoering: #ffe600;
$gereed: #00a03c;
$geen-maatregel: #b4b4b4;

:export {
  ONDERZOEK: $onderzoek;
  VOORBEREIDING: $voorbereiding;
  UITVOERING: $uitvoering;
  GEREED: $gereed;
  GEEN_MAATREGEL: $geen-maatregel;
}
