@import '_colors';

// Fonts are set by amsterdam-stijl package and we want different fonts

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

p {
  line-height: 26px;
}
