@import '_colors';
@import '_extensions';
@import '_variables';

// Fonts are set by amsterdam-stijl package and we want different fonts
* {
  font-family: 'AvenirNext' !important;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

p {
  line-height: 26px;
}
