@import '_colors';
@import '_extensions';
@import '_variables';

// Fonts are set by amsterdam-stijl package and we want different fonts

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'AvenirNext';
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'AvenirNext';
}

p {
  line-height: 26px;
  font-family: 'AvenirNext';
}
