@import 'styles/styles.scss';

.Container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid $neutralGrey4;

  h2 {
    font-size: 16px;
    color: $primaryBlack;
  }
}

.Logo {
  height: 40px;
  width: 70px;
  margin: 0 20px 0 10px;
}

.ButtonBar {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.ButtonLink {
  display: flex;
  color: $primaryBlack;
  border: none;
  background-color: transparent;
  font-family: $avenir;
  font-size: 16px;
  cursor: pointer;
  margin-right: 2px;

  svg {
    height: 14px;
    margin: 0 -2px -1px 0;
  }

  &:hover {
    color: $primaryRed;
    text-decoration: underline;

    svg path {
      fill: $primaryRed;
    }
  }
}

.Link {
  margin-right: 10px;
  color: $primaryBlack;

  &Active {
    text-decoration-line: underline;
    text-decoration-color: red;
  }
}

// a {
//   margin-right: 10px;
//   color: $primaryBlack;
// }

// button {

//   span {
//     font-size: 16px;
//     margin-bottom: 2px;
//     font-family: 'AvenirLTStd-Roman';

//     :hover {
//       color: $primaryRed;
//       text-decoration: underline;
//       cursor: pointer;
//     }
//   }
// }
// }

// export const NavLinkStyled = styled(NavLink)`
//   &.active {
//     text-decoration-line: underline;
//     text-decoration-color: red;
//   }
// `;
