@import 'styles/styles.scss';

.FilterPanel {
  height: 540px;
  width: 285px;
  margin: 0 0 0 10px;
  position: absolute;
  bottom: 10px;
  z-index: 1010;
  background-color: $primaryWhite;
  box-shadow: 2px 2px 0 0 $neutralGrey4;
  overflow: auto;

  h5 {
    font-size: 16px;
    font-weight: 900;
    margin: 4px 0 4px 0;
  }
}

.FilterContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.CheckboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  height: 22px;
  margin: 5px 0;

  input[type='checkbox'] {
    display: none;

    &:not(:checked) + span {
      width: 22px;
      height: 22px;
      border: 1px solid black;
      margin: 4px 8px 6px 0;
    }

    &:checked + span {
      width: 22px;
      height: 22px;
      border: 1px solid black;
      margin: 4px 8px 6px 0;
    }

    &:checked + span:before {
      content: '';
      display: block;
      width: 13px;
      height: 5px;
      margin-left: 3px;
      margin-top: 5px;
      transform: rotate(-45deg);
      border: none;
      border-left: 3px solid black;
      border-bottom: 3px solid black;
    }
  }
}

.IconDiv {
  svg {
    margin-left: -5px;
    margin-right: 3px;
    margin-top: 2px;
  }
}

.RiscoIconMargin {
  margin-left: -5px;
  margin-right: -7px;
}

.StatusDiv {
  height: 18px;
  width: 18px;
  margin-top: -3px;
  margin-right: 8px;
}

.Onderzoek {
  background-color: $onderzoek;
}
.Voorbereiding {
  background-color: $voorbereiding;
}
.Gereed {
  background-color: $gereed;
}
.GeenMaatregel {
  background-color: $geen-maatregel;
}
.Uitvoering {
  background-color: $uitvoering;
}
