@import 'styles/styles.scss';

.FilterPanel {
  height: 780px;
  width: 285px;
  margin: 0 0 0 10px;
  position: absolute;
  bottom: 10px;
  z-index: 1010;
  background-color: $primaryWhite;
  box-shadow: 2px 2px 0 0 $neutralGrey3;
  overflow: hidden;
  transition: height 300ms ease-in-out;

  h5 {
    font-size: 16px;
    margin: 10px 0 4px 0;
  }

  &Collapsed {
    height: 33px;
  }
}

.FilterContainer {
  display: flex;
  flex-direction: column;
  padding: 4px 16px;
}

.YearFilter {
  display: flex;
  flex-direction: column;
  height: 160px;
  flex-wrap: wrap;
}

.TopBar {
  height: 30px;
  border-bottom: 1px solid $neutralGrey4;
  display: flex;
  align-items: center;
  color: $neutralGrey4;
  font-weight: bold;
  padding-top: 4px;
  cursor: pointer;

  .FilterIcon {
    margin-top: -4px;
    margin-left: 4px;
    margin-right: 8px;
  }
  .ChevronIcon {
    position: absolute;
    right: 10px;
    height: 14px;
    transform: rotate(180deg);
    margin-top: -2px;

    polygon {
      fill: $neutralGrey4;
    }

    &Rotated {
      transform: initial;
    }
  }
}

.CheckboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  height: 22px;
  margin: 5px 0;

  input[type='checkbox'] {
    display: none;

    &:not(:checked) + span {
      width: 22px;
      height: 22px;
      border: 1px solid $primaryBlack;
      margin: 4px 8px 6px 0;
    }

    &:checked + span {
      background-color: $primaryBlack;
    }

    &:checked + span {
      width: 22px;
      height: 22px;
      border: 1px solid $primaryBlack;
      margin: 4px 8px 6px 0;
    }

    &:checked + span:before {
      content: '';
      display: block;
      width: 13px;
      height: 5px;
      margin-left: 3px;
      margin-top: 5px;
      transform: rotate(-45deg);
      border: none;
      border-left: 3px solid $primaryWhite;
      border-bottom: 3px solid $primaryWhite;
    }
  }
}

.IconDiv {
  svg {
    margin-left: -5px;
    margin-right: 3px;
    margin-top: 2px;
  }
}

.RiscoIconMargin {
  margin-left: -5px;
  margin-right: -7px;
}

.StatusDiv {
  height: 18px;
  width: 18px;
  margin-top: -3px;
  margin-right: 8px;
}

.Onderzoek {
  background-color: $onderzoek;
}
.Voorbereiding {
  background-color: $voorbereiding;
}
.Gereed {
  background-color: $gereed;
}
.GeenMaatregel {
  background-color: $geen-maatregel;
}
.Uitvoering {
  background-color: $uitvoering;
}
