/* We need a littlebit of pure CSS to pass to leaflet */
.marker-div-icon {
  background-color: transparent;
}

.marker-div-icon svg {
  margin-left: -14px;
  margin-top: -14px;
}

.marker-div-icon.large svg {
  margin-left: -20px;
  margin-top: -20px;
}

.marker-div-icon svg .icon-status {
  opacity: 0.7;
}
