@import 'styles/styles.scss';

.Container {
  /* Remove borders */
  td {
    border: 0;
    height: 33px;
  }

  /* Remove hover */
  tr:hover {
    background-color: $primaryWhite;

    td {
      box-shadow: none;
    }
  }

  /* Grey text in first column */
  tr td:nth-child(1) {
    font-family: 'AvenirLTStd-Roman';
    color: #787878;
    width: 220px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}
